# Environment variables (credentials/secrets)
.env
.env.local
.env.*.local
render.yaml


# Logs and databases
*.log
logs/
*.sqlite

# Dependency directories
/vendor/

# IDE / OS metadata
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
